# write python code to multiply two numbers

In [29]:
ages = [1,2,3,4,5,5,6,7,8,9]

new_ages = []
for age in ages:
    if age > 5:
        new_ages.append(age)
        if len(new_ages) > 3:
            break

    
new_ages

[6, 7, 8, 9]

In [30]:
your_name = str(input(" Please input your name here: "))
your_name[::-1]

 Please input your name here: Yusuf Nasir

'risaN fusuY'

In [31]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
age = 23

height = 23.8

name = "Mustapha Laba"

25

# +, /, //

In [14]:
num1 = 2
num2 = 5
num3 = 6
avg = (num1 + num2 + num3) // 3

"The average of {}, {}, {} is: {}".format(num1, num2, num3, avg)

'The average of 2, 5, 6 is: 4'